$width: 31vw;
// widget padding
$padding-h: 0.056*$width;
$header-padding-v: 0.083*$width;
$stations-padding-v: 0.0375*$width;
$stat-wrap-padding-v-up: 0.0625*$width;
$stat-wrap-padding-v-down: 0.056*$width;
$playing-station-v-down: 0.08*$width;
$footer-padding-v-up: 0.056*$width;
$footer-padding-v-down: 0.07*$width;
// element sizes
$font-size-regular: 0.05*$width;
$radio-border-radius: 0.07*$width;
$station-controls-size: 0.07*$width;
$station-image-size: 0.45*$width;
$footer-min-height: 0.12*$width;
$footer-cur-playing-size: 0.045*$width;
// colors & borders
$header-text: white;
$header-background: #eeae61;
$stations-text: #a3acbe;
$stations-background: #2e2e39;
$stations-separator: 2px solid #44444e;
$footer-text-now-playing: #eeae61;
$footer-playing-station: #9da6b9;
$footer-background: #22222b;
$footer-separator: 2px solid #4d505c;
$playing-station-border: 3px solid;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($h-shadow, $v-shadow, $blur, $spread, $color) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  -ms-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

.radio {
  width: $width;
  overflow: hidden;
  font-family: Arial;
  font-size: $font-size-regular;
  @include border-radius($radio-border-radius);
  @include box-shadow(0, 0.06*$width, 0.11*$width, -0.03*$width, black);
}

.radio__header {
  color: $header-text;
  font-weight: bold;
  background-color: $header-background;
  padding: $header-padding-v $padding-h;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio__header-button-prev {
  width: 0.035*$width;
}

.radio__header-button-off {
  width: 0.06*$width;
}

.radio__stations-list {
  background-color: $stations-background;
  color: $stations-text;
  padding: $stations-padding-v $padding-h;
}

.station {
  padding: $stat-wrap-padding-v-up 0 $stat-wrap-padding-v-down 0;
}

.station:not(:last-child) {
  border-bottom: $stations-separator;
}

.station__link {
  text-decoration: inherit;
  color: inherit;
  display: block;
}

.station__name_right {
  float: right;
}

.station__player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 $playing-station-v-down 0;
}

.station__cover {
  @include border-radius(50%);
  height: $station-image-size;
  width: $station-image-size;
  overflow: hidden;
  border: $playing-station-border;
}

.station__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.station__controls {
  padding: 0.05*$station-controls-size 0.34*$station-controls-size;
  border: $playing-station-border;
  @include border-radius(50%);
  font-size: $station-controls-size;
  text-decoration: none;
  color: inherit;
}

.radio__footer {
  background-color: $footer-background;
  padding: $footer-padding-v-up $padding-h $footer-padding-v-down $padding-h;
  text-align: center;
  border-top: $footer-separator;
  min-height: $footer-min-height;
}

.radio__now-playing {
  color: $footer-text-now-playing;
  font-variant: small-caps;
  font-size: $footer-cur-playing-size;
}

.radio__now-playing-station {
  color: $footer-playing-station;
}
// fixed width for devices<lg
@media screen and (max-width: 1280px) {
  $width: 400px;
  // widget padding
  $padding-h: 0.056*$width;
  $header-padding-v: 0.083*$width;
  $stations-padding-v: 0.0375*$width;
  $stat-wrap-padding-v-up: 0.0625*$width;
  $stat-wrap-padding-v-down: 0.056*$width;
  $playing-station-v-down: 0.08*$width;
  $footer-padding-v-up: 0.056*$width;
  $footer-padding-v-down: 0.07*$width;
  // element sizes
  $font-size-regular: 0.05*$width;
  $radio-border-radius: 0.07*$width;
  $station-controls-size: 0.07*$width;
  $station-image-size: 0.45*$width;
  $footer-min-height: 0.12*$width;
  $footer-cur-playing-size: 0.045*$width;

  .radio {
    width: $width;
    font-size: $font-size-regular;
    @include border-radius($radio-border-radius);
    @include box-shadow(0, 0.06*$width, 0.11*$width, -0.03*$width, black);
  }

  .radio__header {
    padding: $header-padding-v $padding-h;
  }

  .radio__header-button-prev {
    width: 0.035*$width;
  }

  .radio__header-button-off {
    width: 0.06*$width;
  }

  .radio__stations-list {
    padding: $stations-padding-v $padding-h;
  }

  .station {
    padding: $stat-wrap-padding-v-up 0 $stat-wrap-padding-v-down 0;
  }
  .station__player {
    padding: 0 0 $playing-station-v-down 0;
  }

  .station__cover {
    height: $station-image-size;
    width: $station-image-size;
  }

  .station__controls {
    padding: 0.05*$station-controls-size 0.34*$station-controls-size;
    font-size: $station-controls-size;
  }

  .radio__footer {
    padding: $footer-padding-v-up $padding-h $footer-padding-v-down $padding-h;
    min-height: $footer-min-height;
  }

  .radio__now-playing {
    font-size: $footer-cur-playing-size;
  }
}
