.radio{:'ng-app' => 'radioApp', :'ng-controller' => 'radioCtrl'}
  .radio__header
    %a{:href => '#/'}
      %img.radio__header-button-prev{:src => ''}>
    STATIONS
    %a{:href => '#/'}
      %img.radio__header-button-off{:src => ''}
  .radio__stations-list
    .station{:'ng-repeat' => 'radio in stationslist'}
      .station__player{:'ng-show' => 'activated($index, active)'}
        %a.station__controls{:href => '#/'} − 
        .station__cover
          %img.station__image{:'ng-src' => '{{radio.image}}'}
        %a.station__controls{:href => '#/'} +     
      %a.station__link{:href => '#/', :'ng-click' => 'toggle($index, active)'}
        %span.station__name {{radio.name}}
        %span.station__name_right {{radio.freq}}
          
  .radio__footer
    %span.radio__now-playing{:'ng-show' => 'playing()'} currently playing
    %br
    %span.radio__now-playing-station {{stationslist[active].name}}